server:
  port: 8081

spring:
  datasource:
    username: sa
    url: jdbc:h2:mem:testdb

keycloak:
  server:
    contextPath: /auth
    adminUser:
      username: ethadmin
      password: ethadmin
    realmImportFile: eth-realm.json
